<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MVC1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>x</filter-name>
    <filter-class>com.neu.action.filter.UTF8Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>x</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>SaveUserAction</servlet-name>
    <servlet-class>com.neu.action.user.SaveUserAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUserAction</servlet-name>
    <url-pattern>/SaveUserAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.neu.action.user.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUserAction</servlet-name>
    <servlet-class>com.neu.action.user.DeleteUserAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserAction</servlet-name>
    <url-pattern>/DeleteUserAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserFindAllAction</servlet-name>
    <servlet-class>com.neu.action.user.UserFindAllAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFindAllAction</servlet-name>
    <url-pattern>/UserFindAllAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserAction</display-name>
    <servlet-name>UpdateUserAction</servlet-name>
    <servlet-class>com.neu.action.user.UpdateUserAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserAction</servlet-name>
    <url-pattern>/UpdateUserAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserFindByIdAction</display-name>
    <servlet-name>UserFindByIdAction</servlet-name>
    <servlet-class>com.neu.action.user.UserFindByIdAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFindByIdAction</servlet-name>
    <url-pattern>/UserFindByIdAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserFindByNameAction</display-name>
    <servlet-name>UserFindByNameAction</servlet-name>
    <servlet-class>com.neu.action.user.UserFindByNameAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFindByNameAction</servlet-name>
    <url-pattern>/UserFindByNameAction</url-pattern>
  </servlet-mapping>
    <filter>
    <filter-name>Struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Struts2</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
</web-app>